<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<<<<<<< HEAD
    <form action="/" method="post">
        <input type="text" name="item" id="">
        <button type="submit">add</button>
    </form>
    <h1>today day is <%=ejs%></h1>
=======
    <h1><%=ejs%></h1>
>>>>>>> formateDate
</body>
</html>