<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-2.css">
</head>

<body>
    <div class="box" id="heading">
        <h1>
            <%=title%>
        </h1>
    </div>
    <div class="box">
        <form action="/" class="add-item" method="post">
            <input type="text" name="item" id="" class="input-task" autocomplete="off" placeholder="new item">
            <button type="submit" name="btn" value=<%=title%> >+</button>
        </form>
        <% list.forEach(item => {  %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" onchange="this.form.submit()" name="item" value = "<%= item._id %>">
                    <p>
                        <%= item.name %>
                    </p>
                </div>
            </form>
        <% }); %>
    </div>
</body>

</html>

<!-- data.forEach(element => {
    item.push(element.name);
}); -->